@import "../partials/artist/artist.less";
@import "../partials/about.less";
@import "../partials/audio.less";
@import "../partials/contact.less";
@import "../partials/home.less";
@import "../partials/policy.less";
@import "../partials/engineering.less";

@import "../modals/purchase-modal.less";
@import "../modals/gear.less";

@import "../directive/artist-api.less";
@import "../directive/artist-lookup/artist-lookup.less";
@import "../directive/artist-content/artist-content.less";
@import "../directive/footer/home-footer.less";
@import "../directive/gear/gear.less";
@import "../directive/instagram.less";
@import "../directive/nav-bar/nav-bar.less";
@import "../directive/overlay/loading.less";
@import "../directive/playlist/playlist.less";
@import "../directive/rss-feed/rss-feed.less";
@import "../directive/vertical-menu/vertical-menu.less";
@import "../directive/twitter/twitter-feed.less";
@import "../directive/soundcloud/soundcloud-new-track.less";

@light_blue: #0992cc;
@lime_green: #00FF40;
@dark_gray: #202020;
@blue: #1e61e6;
@red: #e60000;

@standard_padding: 55px;
@widget_height: 100px;
@twitter_height: 250px;
@nav_height: 50px;
html {
    max-height: 720px;
}

body {
    background-color: #000!important;
}
body, html {
    width:100vw;
    height:100vh;
    overflow: hidden;
}
ul {
    list-style: none;
}
hr {
    -webkit-box-shadow: 0px -2px 10px 1px @light_blue!important;
    -moz-box-shadow: 0px -2px 10px 1px @light_blue!important;
    box-shadow: 0px -2px 10px 1px @light_blue!important;
    border-top: none!important;
}
@media (max-width: 939px) {
  body {
    padding-top: 0;
  }
}

#Main {
    position: relative;
    height: 100vh;
    width:100vw;
}
[data-ui-view] {
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    .overlay(@top: @nav_height, @bottom: @nav_height);
}

button {
    pointer-events: auto;
    cursor: pointer;
    background: none;
    outline: none;
    &.submit-button {
        width: 100%;
        min-height: 50px;
        background: @blue;
        color: white;
        font-weight: 900;
        font-size: 21px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #444;
        .insetBoxShadow();
        &:hover {
            color: @lime_green;
        }
        &[disabled] {
            .invalid();
            opacity: .7;
            pointer-events: none;
            background: none;
        }
    }

    &.nav-button {
        color: #fff;
        border: none;
        opacity: .7;
        font-weight: 900;
        background-image: -webkit-linear-gradient(bottom, #444, #222 23px);;
        background-image: -o-linear-gradient(bottom, #444, #222 23px);;
        background-image: -moz-linear-gradient(bottom, #444, #222 23px);;
        background-image: gradient(bottom, #444, #222 23px);
        white-space: nowrap;
        &.active,
        &:hover,
        &:focus {
            opacity: 1;
        }
        &.active {
            background: @blue;
            border-bottom: 1px solid @lime_green;
            .insetBoxShadow();

        }

    }
}
label,
textarea,
input {
    &.ng-empty,
    &.ng-invalid {
        .invalid();
    }
    &.ng-valid {
        .valid();
    }
}

label {
    &:hover { cursor: pointer; }
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    &.invalid { color: @red; }
}
.text {
    font-size: 24px;
    color: #fff;
    &.span { font-size: 18px; color: #ccc; }
}
canvas#grapher {
    bottom: 0%;
    max-height: 630px;
    width: 100%;
    z-index:-1;
    opacity:.35;
}

.transition(@prop: all, @time: .7s) {
    -webkit-transition: @prop @time ease-in-out;
    -o-transition: @prop @time ease-in-out;
    transition: @prop @time ease-in-out;
}
.fadeAnimation() {
    opacity: 1;
    .transition();
    &.ng-enter { opacity: 0; }
    &.ng-enter-active { opacity: 1; }
    &.ng-leave { opacity: 1; }
    &.ng-leave-active { opacity: 0; }
}

.gradient {
	.gradient();
}
.pattern {
    .pattern();
}
.shaddow {
    text-shadow: 1px 1px #444;
}
// *****************************************
// Mixins
// *****************************************

.box(@pack: start, @align: center, @orient: horizontal) {
    // Default: left justified, vertically centered, horizontal oriented.
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    box-pack: @pack;
    -webkit-box-pack: @pack;
    -moz-box-pack: @pack;
    -moz-o-pack: @pack;

    box-align: @align;
    -webkit-box-align: @align;
    -moz-box-align: @align;
    -moz-boolign: @align;

    box-orient: @orient;
    -webkit-box-orient: @orient;
    -moz-box-orient: @orient;
    -moz-box-oent: @orient;

}
.pattern(){
    background-image: -moz-linear-gradient(
	    	45deg, rgba(0, 0, 0, 0.25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25)
		),
	    -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25)
		);

    background-image: -webkit-linear-gradient(
	    	45deg, rgba(0, 0, 0, .25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)
    	),
	    -webkit-linear-gradient(
	    	45deg, rgba(0, 0, 0, .25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)
    	);
    background-color: #202125;
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%,
    	transparent 25%, transparent 75%,
    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)),
    	-webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%,
    	transparent 25%, transparent 75%,
    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25));
    background-position: 0 0pt, 2px 2px;
    background-size: 2px 2px;
    // Background size is the Pixel Background.
}
/* Background Gradient for Monochromatic Colors */
.gradient() {
    // background: rgb(17, 17, 17);

}
.slider() {
    &.ng-enter,
    &.ng-leave {
        -webkit-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      }

    &.ng-enter {
        opacity: 0;
        left: 100%;
    }
    &.ng-enter.ng-enter-active {
        left: 0;
    }
    &.ng-leave {
        left: 0;
    }
}
.overlay(@top: 0, @right: 0, @bottom: 0, @left: 0) {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}
.overlayBackground() {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 100%, rgba(0,0,0,0) 0%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(0,0,0,0.65)), color-stop(0%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 0%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.slide { .slider(); }

.shakeEffect() {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}
.insetBoxShadow(@shaddow: 4px, @blur: 20px, @spread: 4px, @color: rgba(0,0,0,0.49)) {
    -webkit-box-shadow: inset @shaddow @shaddow @blur @spread @color !important;
    -o-box-shadow: inset @shaddow @shaddow @blur @spread @color !important;
    -moz-box-shadow: inset @shaddow @shaddow @blur @spread @color !important;
    box-shadow: inset @shaddow @shaddow @blur @spread @color !important;
}
.invalid() {
    .insetBoxShadow(@shaddow:1px, @color: @red);
    border-color: @red;
}
.valid() {
    .insetBoxShadow(@shaddow:1px, @color: @lime_green);
    border-color: @lime_green;
}
.opacityTransition(@time: 500ms) {
    -webkit-transition: opacity @time ease-in-out;
    -o-transition: opacity @time ease-in-out;
    -moz-transition: opacity @time ease-in-out;
    transition: opacity @time ease-in-out;
}

.truncate() {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Truncate lines of text as opposed to a singe line of text.
.truncate(@lines) {
    .truncate();
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: @lines;
    line-clamp: @lines;
    -moz-line-clamp: @lines;
    -o-line-clamp: @lines;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
}



.confirmation-dialog-container {
    padding: @standard_padding;
    background-color: #000!important;

    button {
        padding: 15px;
        border-radius: 15px;
        width: 100%;
    }
}
.modal {
    cursor: default;
    outline:none;
    display: -webkit-box!important;
    top: @nav_height!important;
    bottom: @nav_height!important;
    &.fade {
        .modal-dialog {
            .overlay(@top: 45px; @right:auto;);
        }
    }
    // .modal-backdrop.in { opacity: 1 !important; }
    .modal-content {
        width: 100vw;
        height: 100vh;
        .overlayBackground();
        border: none!important;
        padding: none!important;
        .insetBoxShadow(@shaddow: 20vh, @blur: 100vh, @spread: 10vw);
        border: 2px solid @dark_gray;
        padding: 15px;
        border-radius: 10px;
        > .close-button { float: right; }
    }
}

#FacebookSharedLike {
    z-index:1;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    .overlay(@top: @nav_height + 10, @left: auto);

}
