@import "../partials/artist/artist.less";
@import "../partials/about.less";
@import "../partials/audio.less";
@import "../partials/home.less";

@import "../modals/purchase-modal.less";
@import "../modals/gear.less";

@import "../directive/artist-lookup/artist-lookup.less";
@import "../directive/artist-content/artist-content.less";
@import "../directive/footer/home-footer.less";
@import "../directive/instagram.less";
@import "../directive/nav-bar/nav-bar.less";
@import "../directive/playlist/playlist.less";
@import "../directive/vertical-menu/vertical-menu.less";

@light_blue: #0992cc;
@lime_green: #00FF40;
@dark_gray: #202020;

html {
    max-height: 720px;
}

body {
    background-color: #000!important;
}
ul {
  list-style: none;
}
hr {
  -webkit-box-shadow: 0px -2px 10px 1px @light_blue!important;
  -moz-box-shadow: 0px -2px 10px 1px @light_blue!important;
  box-shadow: 0px -2px 10px 1px @light_blue!important;
  border-top: none!important;
}
@media (max-width: 939px) {
  body {
    padding-top: 0;
  }
}
button {
	background: none;
  outline: none !important;
  // &:hover, &:focus, &:active, &:hover, &:link, &:visited {  }
}
.text {
  font-size: 24px;
  color: #fff;
  &.span { font-size: 18px; color: #ccc; }
}
canvas#grapher {
  bottom: 0%;
  max-height: 630px;
  width: 100%;
  z-index:-1;
  opacity:.35;
}
.transition(@prop: all, @time: .7s) {
    -webkit-transition: @prop @time ease-in-out;
    -o-transition: @prop @time ease-in-out;
    transition: @prop @time ease-in-out;
}
.fadeAnimation() {
    opacity: 1;
    .transition();
    &.ng-enter { opacity: 0; }
    &.ng-enter-active { opacity: 1; }
    &.ng-leave { opacity: 1; }
    &.ng-leave-active { opacity: 0; }
}
[ui-view] {
    .fadeAnimation();
}

.gradient {
	.gradient();
}
.pattern {
    .pattern();
}
// *****************************************
// Mixins
// *****************************************

.box(@pack: start, @align: center, @orient: horizontal) {
    // Default: left justified, vertically centered, horizontal oriented.
    display: -webkit-box;
    box-pack: @pack;
    -webkit-box-pack: @pack;
    -moz-box-pack: @pack;

    box-align: @align;
    -webkit-box-align: @align;
    -moz-box-align: @align;

    box-orient: @orient;
    -webkit-box-orient: @orient;
    -moz-box-orient: @orient;

}
.pattern(){
    background-image: -moz-linear-gradient(
	    	45deg, rgba(0, 0, 0, 0.25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25)
		),
	    -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25)
		);

    background-image: -webkit-linear-gradient(
	    	45deg, rgba(0, 0, 0, .25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)
    	),
	    -webkit-linear-gradient(
	    	45deg, rgba(0, 0, 0, .25) 25%,
	    	transparent 25%, transparent 75%,
	    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)
    	);
    background-color: #202125;
    background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%,
    	transparent 25%, transparent 75%,
    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)),
    	-webkit-linear-gradient(45deg, rgba(0, 0, 0, .25) 25%,
    	transparent 25%, transparent 75%,
    	rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25));
    background-position: 0 0pt, 2px 2px;
    background-size: 2px 2px;
    // Background size is the Pixel Background.
}
/* Background Gradient for Monochromatic Colors */
.gradient() {
    // background: rgb(17, 17, 17);

}
.slider() {
    &.ng-enter,
    &.ng-leave {
        -webkit-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition:  900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 900ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      }

    &.ng-enter {
        opacity: 0;
        left: 100%;
    }
    &.ng-enter.ng-enter-active {
        left: 0;
    }
    &.ng-leave {
        left: 0;
    }
}
.overlay(@top: 0, @right: 0, @bottom: 0, @left: 0) {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}
.overlayBackground() {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 100%, rgba(0,0,0,0) 0%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(0,0,0,0.65)), color-stop(0%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 0%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.slide { .slider(); }

.shakeEffect() {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}

.ngtweet-wrapper iframe {
}
body > .timeline { background: none !important; }
.root.timeline.ltr.customisable-border {
  width: 100vw!important;
  background: none;
  border: none;
  color: red;
}

