#Home {
 	position: absolute;
	top: 150px;
	bottom:auto;
	width:500px;
	// background-color: rgba(32,32,32,.55);
	// border-radius: 10%;
	// -webkit-box-shadow: inset 10px 10px 108px 0px rgba(0,0,0,0.75);
	// -moz-box-shadow: inset 10px 10px 108px 0px rgba(0,0,0,0.75);
	// box-shadow: inset 10px 10px 108px 0px rgba(0,0,0,0.75);
}