<div id="Network">
    <br>
    <!-- Facebook -->
    <button style="background-color:#3A5795;width:100%;"
            data-ng-click="should_display = !should_display"
            class="btn btn-default">FaceBook
    </button>
    <!-- Instagram -->
    <button style="background-color:#125688;width:100%;"
            data-ng-click="artist = !artist"
            class="btn btn-default">Instagram
            <div data-ng-if="artist" data-instagram></div>
    </button>
    <!-- Twitter -->
    <button style="background-color:#59ADEB;width:100%;"
            data-ng-click="should_display_tweet = !should_display_tweet"
            class="btn btn-default">Twitter
    </button>
    <!-- Itunes -->
    <a style="background-color:#F0242A;width:100%;"
        href="http://www.soundclick.com/DrVamp"
        target="_blank"
        class="btn btn-default">Itunes
    </a>
    <!-- SoundCloud -->
    <a style="background-color:#ff3e00;width:100%;"
        data-ng-click="should_display = !should_display"
        class="btn btn-default">SoundCloud
    </a>
    <!-- SoundClick -->
    <a style="background-color:#fafafa;width:100%;"
        href="http://www.soundclick.com/DrVamp"
        target="_blank"
        class="btn btn-default">SoundClick
    </a>

    <a style="background-color:#1DD65F;width:100%;"
        href="http://www.soundclick.com/DrVamp"
        target="_blank"
        class="btn btn-default">Spotify
    </a>

    <div data-ng-if="should_display === true">
        <iframe width="100%"
            height="150"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/148558617&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
        </iframe>

        <iframe width="100%"
            height="150"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/113326521&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
        </iframe>

        <iframe width="100%"
            height="150"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/110627228&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
        </iframe>
    </div>
    <div id="container" data-ng-if="should_display_tweet === true">
         <twitter-widget>
    <a class="twitter-timeline" href="https://twitter.com/DktrVamp" data-widget-id="693361144551968770">Tweets by @DktrVamp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</twitter-widget>
    </div>

</div>