<div id="table-list">
    <div id="mp3_player">
        <div id="audio_box">
            <audio id="audioplayer" data-ng-src="{{model.source | trusted}}" controls loop>
                Your browser does not support the audio tag.
            </audio>
        </div>
        <canvas class="canvas" id="analyser_render"></canvas>
    </div>
    <div class="table-list" ng-init="show = true" data-ng-show="show">
        <ul class="playlist">
            <li data-ng-repeat="track in tracks"
                data-ng-class="{ 'active' : model.playing_item.index === $index } ">
                <div class="play-controls fa"
                    data-ng-class="model.playing_item.index === $index ? 'fa-pause' : 'fa-play-circle-o' "
                    data-ng-click="onPlayToggle($event, $index)">
                </div>
                <div class="vertical-divider"></div>
                <div class="track-info-container">
                    <a class="track-name"
                        data-ng-click="onPlayToggle($event, $index)">{{track.name}}
                    </a>
                    <div ng-if="track.waveform && model.playing_item.index === $index"
                        class="overlay-wave">

                    </div>
                    <img class="waveform"
                        data-ng-src="{{track.waveform}}"
                        data-ng-if="track.waveform">
                </div>
            </li>
        </ul>
    </div>
</div>






