<div class="vertical-menu"
    data-ng-class="{ 'is-closed' : !model.is_open }">
    <!-- Indicator -->
    <i class="nav-indicator fade-in fade-out fa"
        data-ng-if="model.show_indicator"
        data-ng-click="onOpenClose($event)"
        data-ng-attr-title="{{model.is_open ? 'Close' : 'Open'}}"
        data-ng-mouseover="model.show_tool_tip = true"
        data-ng-mouseleave="model.show_tool_tip = false"
        data-ng-class="{
            'fa-bars' : !model.is_open,
            'fa-times-circle-o' : model.is_open
        }">
    </i>
    <br>
    <!-- Content -->
    <div class="content" data-ng-if="model.is_open">
        <h3 class="nav-header" data-ng-bind="::model.title"></h3>
        <button class="action-btn btn"
            data-ng-repeat="tab in model.tabs | orderBy : 'title'"
            data-ng-click="onClicked($event, tab.title)" data-ng-bind="::tab.title">
        </button>
        <hr>

        <button class="action-btn btn direction-btn bottom"
            data-ng-click="onClicked($event); onOpenClose($event)">
            Search For An Artist
        </button>
    </div>

</div>
