.vertical-menu {
    width: 20vw;
    height: 100%;
    .transition(@prop: width, @time: 5s);
    .overlay(@top: 65px; @left:auto;);
    .overlayBackground();
    > .search-engine-btn {
        &:hover {
            background: rgba(32,32,32,.7);
        }
        &.direction-btn {
            // .overlay(@top:auto; @bottom: 150px;);
        }
        &:nth-child(odd){
            text-shadow: -2px -1px 2px @lime_green;
            &:hover {
                text-shadow: -4px -1px 2px @light_blue;
            }
        }
        text-shadow: -2px -1px 2px @light_blue;
        &:hover {
            text-shadow: -4px -1px 2px @lime_green;
        }
        width: 100%;
        background: none;
        font-size: 18px;
        white-space: normal;

        font-family: "Arial Black", Gadget, sans-serif;

    }
}
