.vertical-menu {
    width: 100vw;
    height: 100vh;
    text-align: center;
    &:not(.is-closed) {
        overflow-y: scroll;
    }
    .drv-transition( @time: 500ms);
    .overlay(@top: @nav_height + 10px;);
    .overlayBackground();
    .desktop & {
        .insetBoxShadow(@shaddow: 90vh, @blur: 100vh, @spread: 20vw, @color: rgba(0,0,0,0.8));
    }
    .mobile & {
        background-color: rgba(0,0,0,0.95);
    }
    &.is-closed { width: 0; }
    &:hover { opacity: 1; }

    // Indicator
    > .nav-indicator {
        .overlay(@top: 10px; @left: auto; @right: -55px;);
        font-size: 35px;
        color: @lime_green;
        cursor: pointer;
        max-height: 50px;
        .drv-transition(@time: 300ms);
        &.fa-times-circle-o { right: 15px; }
        &:hover { font-size: 55px; }
    }
    // Content
    > .content {
        height: 80%;
        overflow-y: scroll;
        > .nav-header { color: #fff; }
        > .action-btn {
            text-shadow: -2px -1px 2px @light_blue;
            width: 100%;
            background: none;
            white-space: normal;
            font-family: "Arial Black", Gadget, sans-serif;
            font-size:  28px;
            &.bottom{ margin-top: 30px; }
            &:hover {
                background: rgba(32,32,32,.7);
            }
            &.direction-btn {
                // .overlay(@top:auto; @bottom: 150px;);
            }
            &:nth-child(odd){
                text-shadow: -2px -1px 2px @lime_green;
                &:hover {
                    text-shadow: -4px -1px 2px @light_blue;
                }
            }
            &:hover {
                text-shadow: -4px -1px 2px @lime_green;
            }


        }

    }
}

