<div class="vertical-menu">
    <hr>
    <button class="search-engine-btn btn"
        data-ng-repeat="tab in tabs"
        data-ng-click="onTopArtistClick($event, tab.title)" data-ng-bind="tab.title">
    </button>
    <hr>
    <!--  -->
    <button class="search-engine-btn btn direction-btn"
        data-ng-if="$state.is('home')"
        data-ui-sref="home.artist">
        Search For An Artist
    </button>
    <br>
    <button class="search-engine-btn btn direction-btn"
        data-ng-if="!$state.is('home')"
        data-ui-sref="home">
        Go Back
    </button>
</div>
