.nav {
    position: relative;
    left: 5%;
    right: auto;
    bottom: auto;
    top: 0;
}
div.navbar-collapse.collapse {
    	display: block;
    	overflow: hidden;
    	max-height: 0px;
    	-webkit-transition: max-height .3s ease;
    	-moz-transition: max-height .3s ease;
    	-o-transition: max-height .3s ease;
    	transition: max-height .3s ease;

    }
div.navbar-collapse.collapse.in {
    max-height: 200px;

    }
.navbar-default .navbar-nav > li.active {
    // display: none;
    background: #00ff00 url("images/hip-hop-2014.png") no-repeat fixed center; 
}