footer {
	height: 100px;
	width: 100vw;
	position: fixed;
	bottom: 0;
	top: auto;
	.overlayBackground();
	>.footer-links {
		position: relative;
		top: 40%;
		bottom: auto;
		left: 5%;
		right: auto;
	}
	>div.popover {
		top: -150px!important;
		left: 50%!important;
		>.arrow { display: none; }
	}
	.footer-wave-image {
		position: absolute;
		left: 0;
	}

}
