<div data-ng-if="artist"
	id="Artist"
	data-ng-class="{ 'slide-side' : model.should_slide }"
	>
	<!-- <div data-ng-if="model.artist_caption_text" class="insta-caption">
		<span class="insta-text" data-ng-bind="model.artist_caption_text.caption.text"></span>
		<img data-ng-src="{{model.artist_caption_text.user.profile_picture}}">
		<span class="username" data-ng-bind="'@' + model.artist_caption_text.user.username"></span>
	</div>
	<ul class="insta-artist">
		<li class="insta-thumbnail"
			data-ng-mouseover="showCaption($index)"
			data-ng-repeat="artist in artists">
			<img data-ng-click="onClick();"
				data-ng-if="artist && !artist.videos"
				data-ng-src="{{artist.images.thumbnail.url}}">

			<video
				data-ng-if="artist && artist.videos && artist.videos.standard_resolution.url"
				width="180" height="150" autoplay>
			    <source src="artist.videos.standard_resolution.url" type="video/mp4">
			</video>

		</li>
	</ul> -->
</div>
