<div id="SocialShare">
    <a class="share-social-icon twitter-share-button"
        data-ng-if="model.should_show"
        href="https://twitter.com/intent/tweet?text= {{parent_model.feed.title | cut:true:50:' ...'}}&url={{parent_model.state | escape}}&hashtags=drvamp,drvaudio"
        data-show-count="true">
        <img src="http://res.cloudinary.com/www-drvaudio-com/image/upload/c_scale,w_50/v1473823868/twitter_mcrbon.png"
        alt="Share on Twitter">
    </a>

    <a class="share-social-icon"
        data-ng-click="onFbClick()"
        data-ng-if="model.should_show">
        <img src="http://res.cloudinary.com/www-drvaudio-com/image/upload/c_scale,w_50/v1473884393/fb_vyvgsx.png">
    </a>
</div>
